* {
    box-sizing: border-box;
  }

@font-face {
    font-family: 'kadwa';
    src: url("Kadwa-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 0;
    font-family: 'Kadwa', serif;
    background-image: url("abstract-architecture-background.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
}

nav {
    background-color: #BFB3A4;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: #465059 2px solid;
}

.navColor {
    color: white;
}

.myPic {
    display: none;
}

.name {
    position: absolute;
    font-size: 22px;    
    padding-left: 2px;
    color: black;
    display: inline-block;
    top: -5px;
}

.topList {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 4px;
    margin-top: 23px;
}

li {
    list-style-type: none;
}

.listOne {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    color: #465059;
}

#opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    height: 200px;
    text-align: center;
    background-color: #103B73;
    color: white;
}

.welcome {
    font-size: 20px;
}

.myName {
    font-size: 25px;
    margin: 0;
}

.standardText {
    font-size: 17px;
    margin-top: 4px;
}

.welcome, .aboutMe, .projectViews, .contactMe {
    text-decoration: underline;
}

section, #opening {
    border: #103B73 2.5px solid;
    margin-bottom: 10px;
}

#about {
    height: 705px;
    background-color: lightgray;
}

.aboutMe, .projectViews, .contactMe {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 22px;
    text-align: left;
}

#projects {
    height: 915px;
    text-align: center;
    background-color: lightgray;;
}

.aboutText, .projectText, .contactInfo {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #465059;
}

.title {
    font-size: 19px;
    margin-top: 0;
}

.quiz-app {
    width: 280px;
    height: auto;
}

.projectLink {
    font-size: 19px;
    text-align: center;
}

.linkColor {
    color: #465059;
}

#contact {
    height: 235px;
    background-color: lightgray;;
}

.listTwo {
    padding-bottom: 5px;
}

footer {
    background-color: #BFB3A4;
    position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border-top: #465059 2px solid
}

.footThree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    padding-top: 7px;
}

.logo {
    width: 15px;
    height: auto;
}

@media only screen and (min-width: 400px) {
    #about {
        height: 570px;
    }
    #projects {
        height: 815px;
    }
    .myPic {
        display: inline-block;
        width: 35px;
        height: auto;
        position: absolute;
        margin: 8px;
        border: #465059 1px solid;
        border-radius: 50%;
    }
    .name {
        left: 50px;
    }
}

@media only screen and (min-width: 550px) {
    #opening {
        height: 195px;
    }
    #about {
        height: 395px;
    }
    #projects {
        height: 710px;
    }
    .name {
        font-size: 30px;
        margin-top: 6px;
    }
    .myPic {
        display: inline-block;
        width: 35px;
        height: auto;
        position: absolute;
        margin: 8px;
        border: #465059 1px solid;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    #opening, #about, #projects, #contact {
       margin-right: 20px;
       margin-left: 20px;
    }
    .welcome {
        font-size: 30px;
    }
    .myName {
        margin-top: 15px;
        font-size: 35px;
    }
    .standardText {
        font-size: 25px;
    }
    #opening {
        height: 245px;
    }
    .aboutMe, .projectViews, .contactMe {
        font-size: 30px;
    }
    .aboutText, .projectText, .contactInfo {
        font-size: 22px;
    }
    #contact {
        height: 285px;
    }
    #projects {
        height: 720px;
    }
    #about {
        height: 370px;
    }
    .listOne {
        font-size: 20px;
    }
    .topList {
        margin-top: 15px;
    }
    .title {
        font-size: 22px;
    }
    .projectLink {
        font-size: 22px;
    }
    .myPic {
        display: inline-block;
        width: 37px;
        height: auto;
        position: absolute;
        margin: 6px;
        border: #465059 1px solid;
        border-radius: 50%;
    }
}

@media only screen and (min-width: 1250px) {
    .name {
        font-size: 40px;
        top: -20px;
        left: 50px;
    }
    .listOne {
        font-size: 22px;
    }
    .topList {
        margin-top: 12px;
    }
    #opening, #about, #projects, #contact {
        margin-right: 100px;
        margin-left: 100px;
     }
     .aboutMe, .projectViews, .contactMe {
        font-size: 32px;
    }
     .aboutText, .projectText, .contactInfo {
        font-size: 23px;
        line-height: 40px;
    }
    .welcome {
        font-size: 32px;
    }
    .myName {
        font-size: 37px;
    }
    .standardText {
        font-size: 27px;
        margin-top: 10px;
    }
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .quiz-app {
        width: 340px;
        height: auto;
    }
    .projectLink {
        font-size: 24px;
    }
    .logo {
        width: 20px;
        height: auto;
    }
    #opening {
        height: 250px;
    }
    #projects {
        height: 770px;
    }
    #contact {
        height: 280px;
    }
    #about {
        height: 350px;
    }
    .myPic {
        display: inline-block;
        width: 40px;
        height: auto;
        position: absolute;
        margin: 4px;
        border: #465059 1px solid;
        border-radius: 50%;
    }
}
