* {
    box-sizing: border-box;
  }

body {
    margin-bottom: 40px;
    margin-top: 60px;
    font-size: 0;
    font-family: 'Kadwa', serif;
    background-color: white;
    background-size: cover;
    background-position: center;
    height: auto;
    line-height: 35px;
}

nav {
    background-color: #002059;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: lightgray 5px solid;
    float: left;
}

.navColor {
    color: white;
}

.myPic {
    display: none;
}

.name {
    position: absolute;
    font-size: 22px;    
    padding-left: 2px;
    color: black;
    display: inline-block;
    margin-top: 5px;
}

.topList {
    float: right;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

li {
    list-style-type: none;
    padding-right: 5px;
    padding-left: 1px;
}

.listOne {
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 14px;
    color: #465059;
    border-left: 2px solid white;
}

#opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin-bottom: 10px;
    height: 200px;
    text-align: center;
    background-color: #103B73;
    color: white;
}

.welcome {
    font-size: 20px;
}

.myName {
    font-size: 25px;
    margin: 0;
}

.standardText {
    font-size: 17px;
    margin-top: 4px;
}

.welcome, .aboutMe, .projectViews, .contactMe {
    text-decoration: underline;
}

#about, #projects, #contact, #opening {
    border: #103B73 2.5px solid;
    margin-bottom: 10px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
}

#about {
    height: auto;
}

.aboutMe, .projectViews, .contactMe {
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 22px;
    text-align: left;
}

.projectSection {
    border-bottom: 3px solid lightgray;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#projects {
    height: auto;
    text-align: center;
}

.aboutText, .projectText, .contactInfo {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    color: #465059;
}

.title {
    font-size: 19px;
    margin-top: 0;
}

.app-pic {
    width: 280px;
    height: auto;
}

.projectLink {
    font-size: 19px;
    text-align: center;
}

.linkColor {
    color: #465059;
}

#contact {
    height: auto;
    background-color: lightgray;;
}

.listTwo {
    padding-bottom: 5px;
}

footer {
    background-color: #BFB3A4;
    position: fixed;
    height: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    border-top: #465059 2px solid
}

.footThree {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
    padding-top: 4.5px;
}

.logo {
    width: 20px;
    height: auto;
}

@media only screen and (min-width: 768px) {
    #about, #projects, #contact, #opening {
        width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
    .welcome {
        font-size: 25px;
    }
    .name {
        margin-left: 50px;
        margin-top: 5px;
        font-size: 25px;
    }
    .standardText {
        font-size: 20px;
    }
    .aboutMe, .projectViews, .contactMe {
        font-size: 22px;
    }
    .aboutText, .projectText, .contactInfo {
        font-size: 18px;
    }
    .listOne {
        font-size: 16px;
    }
    .topList {
        margin-top: 5px;
    }
    .title {
        font-size: 22px;
    }
    .projectLink {
        font-size: 18px;
    }
    .myPic {
        display: inline-block;
        width: 37px;
        height: auto;
        position: absolute;
        margin: 6px;
        border: lightgray 1px solid;
        border-radius: 50%;
    }
    .footThree {
        padding-top: 1px; 
    }
    .logo {
        width: 28px;
        height: auto;
        }
}

@media only screen and (min-width: 1200px) {
    .name {
        font-size: 28px;
    }
    .listOne {
        font-size: 20px;
    }
    #opening, #about, #projects, #contact {
        width: 750px;
        margin-right: auto;
        margin-left: auto;
    }

    .myName {
        font-size: 24px;
    }
    .standardText {
        font-size: 20px;
        margin-top: 10px;
    }
    .title {
        font-size: 25px;
        margin-bottom: 20px;
    }
    .myPic {
        display: inline-block;
        width: 40px;
        height: auto;
        position: absolute;
        margin: 4px;
        border: #465059 1px solid;
        border-radius: 50%;
    }
}